<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../static/css/styly.css" th:href="'css/styly.css'"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&amp;subset=latin-ext" rel="stylesheet">
    <title>Panenky</title>
</head>
<body>

    <header>
        <h1><a href=".">Panenky</a></h1>

        <ul class="navigace">
            <a href="seznam.html" th:href="'seznam.html'"><li>Ukázat existující panenky</li></a>
            <a href="nova.html" th:href="'nova.html'"><li>Vytvořit novou panenku</li></a>
            <a href="hledat.html" th:href="'hledat.html'"><li>Vyhledat panenky</li></a>
        </ul>
    </header>

    <main>

    <h2>Seznam existujících panenek</h2>

        <div class="seznam">
            <div class="polozka" th:each="panenka : ${seznamPanenek}">
                <h3 th:text="${panenka.jmeno} ? ${panenka.jmeno} + '&nbsp': '&nbsp'">Jméno</h3>
                <p th:text="${panenka.datumVzniku}">datum vzniku</p>
                <div class="obrazek">
                    <img src="../static/images/javagirl_background.png" th:src="'images/javagirl_background.png'">
                    <img class="cover" src="../static/images/javagirl_top01.png" th:src="'images/' + ${panenka.vrsek}">
                    <img class="cover" src="../static/images/javagirl_bottom01.png" th:src="'images/' + ${panenka.spodek}">
                </div>
                <a href="detail.html" class="button" th:href="'detail-' + ${panenka.id} + '.html'">detail</a>
                <a href="smazat.html" class="button" th:href="'smazat-' + ${panenka.id} + '.html'">smazat</a>
            </div>
            </div>
        </div>

    </main>

</body>
</html>
